.login-form {
  height: 25px;
  padding: 10px;
  text-align: center;
}
.greeting {
  text-align: center;
  font-size: 29px;
}

.btn {
  width: 60px;
  height: 30px;
  background-color: rgba(62, 98, 130, 0.5);
  border: 0px;
  border-radius: 20px;
  position: absolute;
}

.login_button {
  top: 211px;
  right: 175px;
}
.logout-button {
  right: 23.3%;
}

.exit-btn {
  background-color: #ffbdf6;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 25px;
  position: absolute;
  right: 50px;
}

.login-input {
  background-color: rgba(62, 98, 130, 0.5);
  height: 40px;
  margin-bottom: 30px;
  border: 0;
  border-radius: 30px;
  font-size: 15px;
  color: aliceblue;
  text-align: center;
  outline: none;
}
