.todo-list-form {
  background-color: rgba(240, 248, 255, 0.5);
  height: 300px;
  margin-top: 20px;
  border-radius: 20px;
  text-align: center;
}

.todo-list {
  list-style: none;
}

.todo-list > li > span {
  margin-right: 30px;
}

.todo-list > li > button {
  background-color: rgba(240, 248, 255, 0);
  border: none;
  position: absolute;
  right: 270px;
}

.todo-input {
  background-color: rgba(240, 248, 255, 0);
  width: 200px;
  height: 30px;
  text-align: center;
  border: none;
  border-bottom: 3px solid #ccc;
  outline: none;
}

.todo-input:focus {
  border-bottom: 3px solid dodgerblue;
  transition: all 2s;
}
